@import "../../mixins/mixins";

.hero-header-calculator-form-background {
  margin-top: 48px;
  width: 100%;
  max-width: 328px;

  background-color: $pure_white;
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    max-width: 686px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    position: absolute;
    max-width: 564px;

    margin-top: 0;
    top: 166px;
    left: 736px;
    margin-top: 0;
  }
}

.hero-header-calculator-form-container {
  padding: 24px;
}

.hero-header-calculator-form-radio {
  display: flex;
  margin-bottom: 24px;
}

.hero-header-calculator-form-radio-buttons {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-header-calculator-form-radio-input {
  appearance: none;
  border-radius: 50%;
  margin-right: 18px;
  width: 31px;
  height: 31px;
  cursor: pointer;
  border: 1px solid #d8e2e7;
  transition: 500ms;
  &:checked {
    background: center / contain no-repeat
      url("../../../images/icons/radio-cheked.svg");
  }
  &:hover,
  &:focus {
    border-color: $blue;
  }
  
}

.hero-header-calculator-form-radio-label {
  display: flex;
  align-items: center;
}

.hero-header-form-meric-inputs-container {
  @include tablet {
    display: flex;
  }
}

.hero-header-form-meric-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  @include tablet {
    margin-right: 24px;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.hero-header-form-label {
  margin-bottom: 8px;
  display: inline-block;
}

.hero-header-form-input {
  width: 100%;
  border-radius: 12px;
  outline: none;
  border: 1px solid #d8e2e7;
  padding: 20px 24px;
  transition: 500ms;
  &:hover,
  &:focus {
    border-color: $blue;
  }
  &::placeholder {
    opacity: 0.25;
  }
}

.hero-header-form-input-unit {
  position: absolute;
  top: 21px;
  right: 24px;
  color: $blue;
}

.hero-header-form-imperic-inputs-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.hero-header-form-imperic-inputs {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  &:last-child {
    margin-right: 0px;
  }
  @include tablet {
    margin-right: 24px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.hero-header-form-input-error-text{
  color: red;
  position: absolute;
  font-size: 12px;
}