.font_heading_xl {
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 70.4px */
  letter-spacing: -3.2px;
  color: $gunmental;
}

.font_heading_l {
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 52.8px */
  letter-spacing: -2.4px;
  color: $gunmental;
}

.font_heading_m {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  color: $gunmental;
}

.font_heading_s {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
  color: $gunmental;
}

.font_body_m {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: $dark_electric_blue;
}

.font_body_m_bold {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: $gunmental;
}

.font_body_s {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  color: $dark_electric_blue;
}
